@charset "utf-8";
/* CSS Document */

::placeholder
{
color:grey;
font-family:Verdana, Geneva, sans-serif;
font-style:inherit;	
}
textarea
{
resize:none;

}
input, select, textarea{
    border-radius: 20px;
    background-color: rgb(152, 241, 212);
    padding: 8px 12px;
    border: 1px solid #001401;
    outline: none;

}