@charset "utf-8";
/* CSS Document */

*
{
margin:0;
box-sizing:border-box;
}

body
{
background-color: rgb(86, 196, 159);
justify-content: center;
}
.section_index{
justify-content: center;
top:195px;
}



