@charset "utf-8";
/* CSS Document */

																				



section 
{
text-align:center;
display:block;
justify-content: center;
background-color: rgb(86, 196, 159);
}
.sesenta img, iframe
{
max-width:100%;
width:100%;
}

.h1
{

margin-left: 20px;

}


@media screen and (min-width:760px)
{


div
{
padding:3px;
text-align:center;
display:flex;
flex-direction: row;
justify-content: center;
}

.sesenta img, iframe
{
padding:9px;
width: 40%;
margin:auto;
}
.divIndex img
{
padding:9px;
width: 50%;
margin:auto;
}

.sesenta p
{
padding:3px;
width:60%;
text-align:center;
margin: auto;
justify-content: center;
}
.divIndex p
{
padding:3px;
text-align:center;
margin: auto;
justify-content: center;
background-color: rgb(86, 196, 159);
}
.freezer{
   
max-width: 25%;
     
}
    
}